
@{
    ViewData["Title"] = "GiftSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/css/WishList.css" rel="stylesheet" />


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

@model List<Listing>
<h2 class="main-title">Gift Search</h2>

<div class="flex">
    @foreach (Listing listing in Model)
    {
    <div class="main-container">
        <div class="image">
            <img src="@listing.imageUrl" height="200" width="200">
        </div>
        <div class="total-price">
            <p>Price: $@listing.price</p>
        </div>

        <div class="wishlist-title"><a href="@listing.url">@listing.title</a></div>
        <p class="show-read-more">@listing.description</p>

        @if (User.Identity.IsAuthenticated)
        {
            <input type="button" class="btn btn-info wishlist" value="Add To Wishlist" style="text-align:center"
                   onclick="location.href='@Url.Action("AddWishList", "Home", new { item = listing.title, description = listing.description, imageUrl = listing.imageUrl, url = listing.url, price = listing.price})'" />
        }
        else
        {
            <div><p>Login to add item to wishlist!</p></div>
        }
    </div>
    }
</div>

<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
   
</script>

