@{
    ViewData["Title"] = "UserSearch";
}
@model List<WishList>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="~/css/WishList.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<h1 id="title" class="main-title">You are now viewing @ViewBag.Name's wishlist!</h1>
<div class="flex">
    @foreach (WishList listing in Model)
    {

    <div class="flex">
        <div class="main-container">
            <img src="@listing.ImageUrl" width="500" height="450">
            <a class="title" href="@listing.Url">@listing.Item</a>

            <p class="description show-read-more">@listing.Description</p>
            <p>$@listing.Price</p>
        </div>
    </div>
    }

</div>

<script>
            $(document).ready(function () {
                var maxLength = 300;
                $(".show-read-more").each(function () {
                    var myStr = $(this).text();
                    if ($.trim(myStr).length > maxLength) {
                        var newStr = myStr.substring(0, maxLength);
                        var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                        $(this).empty().html(newStr);
                        $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                        $(this).append('<span class="more-text">' + removedStr + '</span>');
                    }
                });
                $(".read-more").click(function () {
                    $(this).siblings(".more-text").contents().unwrap();
                    $(this).remove();
                });
            });
</script>